{% extends 'store/base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Your Orders</h1>
            </div>
        </div>
    </header>
    <br>

    <div class="container text-center">
        <div class="col-md-6 offset-md-3">

            <div class="row">

                <div class="col">
                    <a href="{% url 'user_orders_list' 'all' %}" class="link-offset-2 link-offset-3-hover link-opacity-75-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover
                    {% if filter == 'all' %} link-dark {% endif %}">
                        Orders 
                    </a>
                </div>

                <div class="col">
                    <a href="{% url 'user_orders_list' 'shipped' %}" class="link-offset-2 link-offset-3-hover link-opacity-75-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover
                    {% if filter == 'shipped' %} link-dark {% endif %}"> 
                        Shipped 
                    </a>
                </div>

                <div class="col">
                    <a href="{% url 'user_orders_list' 'unshipped' %}" class="link-offset-2 link-offset-3-hover link-opacity-75-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover
                    {% if filter == 'unshipped' %} link-dark {% endif %}">
                        Not Yet Shipped 
                    </a>
                </div>

            </div>

            <hr>

            <!-- <form action="" method="get">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Search for Products" name="search_text">
                </div>
                <button type="submit" class="btn btn-secondary">Search Products</button>
            </form> -->

            <form action="" method="get" class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-secondary rounded-pill">Search</button>
                <input type="text" class="form-control me-2" placeholder="Search for Products" name="search_text" style="max-width: 250px;">
            </form>

            <br>

        </div>
    </div>

    
    <div class="container">
        <div class="col-md-6 offset-md-3">
            {% for order in user_orders %}
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <a href="{% url 'user_order_detail' order.id %}" class="link-offset-2 link-offset-3-hover link-opacity-75-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                            <strong>Order#{{order.id}}</strong>
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="container">

                            <div class="row mb-3 mt-3">
                                {% for order_item in order.orderitem_set.all %}
                                    <div class="col-md-4 mb-4">
                                        <a href="{% url 'user_order_item' order_item.id %}" 
                                            class="btn btn-light btn-sm w-100 d-inline-block text-truncate" 
                                            style="max-width: 100%;" 
                                            title="{{order_item.product}}"
                                            data-bs-toggle="tooltip"> 
                                            {{ order_item.product }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="row mb-3">
                                <!-- Left Column -->
                                <div class="col-md-8">
                                    <p><strong>Payment Method:</strong> PayPal</p>
                                    <p><strong>Date Ordered:</strong> {{ order.date_ordered }}</p>
                                    {% if order.shipped %}
                                        <p><strong>Date Shipped:</strong> {{ order.date_shipped }}</p>
                                        <!-- Shipped badge -->
                                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Shipped</div>
                                    {% endif %}
                                </div>
                                <!-- Right Column -->
                                <div class="col-md-4 text-end">
                                    <h4>Order Total:</h4> 
                                    <h5>${{ order.amount_paid }}</h5>
                                </div>
                            </div>

                            <center>
                                <a href="{% url 'generate_invoice' order.id %}" class="btn btn-primary me-3">Generate Invoice</a>
                                <a href="{% url 'repeat_order' order.id %}" class="btn btn-warning">Repeat Order</a>
                            </center>
                        </div>

                    </div>

                </div>
                <br>
            {% endfor %}
            <br><br>
        </div>
    </div>

    <!-- Show complete name of product on hover -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>
    
{% endblock %}