{% extends 'store/base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Order Details</h1>
            </div>
        </div>
    </header>
    <br><br>

    
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <center class="mb-3">
                <a href="{% url 'repeat_order' user_order.id %}" class="btn btn-warning">Repeat Order</a>
            </center>
            <div class="card">
                <div class="card-header">
                    <strong>{{user_order}}</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order_item in user_order_items %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                
                                <div class="d-flex align-items-center">
                                    <img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}" class="rounded me-2" style="max-width: 50px; max-height: 50px;">
                                    <span>
                                        <a href="{% url 'user_order_item' order_item.id %}" class="link-offset-2 link-offset-3-hover link-opacity-75-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                                            <h6>{{ order_item.product }}</h6>
                                        </a>
                                    </span>
                                </div>
                                
                                <span>
                                    <small>
                                        ${{ order_item.price }} * {{ order_item.quantity }} = 
                                    </small>
                                    ${{ order_item.total_price }}
                                </span>
                            </li>
                            <br>
                        {% endfor %}
                        
                        <li class="list-group-item"><div align="right"><h4>Total: ${{user_order.amount_paid}}</h4></div></li>
                    </ul>
                </div>
            </div>

            <br>
            
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <strong>Order Info</strong>
                </div>
                <div class="card-body">
                    {% if user_order.shipped %}
                        <strong>Order Status: </strong> <span class="text-success">Shipped</span> <br>
                        <strong>Date Shipped: </strong> {{user_order.date_shipped}} <br>
                    {% else %}
                        <strong>Order Status: </strong> <span class="text-danger">Not Yet Shipped</span> <br>
                    {% endif %}
                    <strong>Date Ordered: </strong> {{user_order.date_ordered}} <br>
                    <strong>Email: </strong> {{user_order.shipping_email}} <br>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-header">
                    <strong>Shipping Address: </strong>
                </div>
                <div class="card-body">
                    <pre>{{user_order.shipping_address}}</pre>
                </div>
            </div>
            
            <br><br>
        </div>
    </div>



{% endblock %}